/* Height and width */

.h-screen {
    height: 100vh;
}

.w-400 {
    width: 400px;
}

/* imput */

input {
    height: 40px;
    border: 2px solid gray;
    width: 100%;
    padding-left: 20px;
}

/* card */
.card {
    border: 2px solid gray;
    box-shadow: 0 0 2px gray;
}

/* Bus-cards */
.bus-card{
    border-radius: 0 !important;
    border: 1px double gray;
    box-shadow: 0 0 2px gray;
}
.bus-card:hover{
    transform: scale(1.005);
    background-color: var(--primary);
    color: white;
}

/* text-sizes */
.text-xl {
    font-size: 30px !important;
}

.text-xl {
    font-size: 25px !important;
}

.text-lg {
    font-size: 20px !important;
}

.text-md {
    font-size: 18px !important;
}
.underline{
    text-decoration: underline;
    cursor: pointer;
}

.underline:active{
    color: red;
}

/* buttons */
.primary-btn {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.secondary-btn {
    background-color: var(--secondary);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


.disabled-btn {
    background-color: gray !important;
    color: white;
    border: none !important;
    padding: 10px 20px;
    cursor: not-allowed;
}

/* anchor */
a {
    text-decoration: none !important;
    color: var(--primary) !important;
}

i{
    cursor: pointer;
    font-size: 25px;
}

h1,p{
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
/* Spinner /Loader */
.spinner-parent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.507);
    z-index: 10000;
}

.spinner-border {
    color: white !important;
    height: 80px !important;
    width: 80px !important;
}

.ticket{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    height: 350px;
    width: 800px;
}

.left-side{
    padding: 10px;
    height: 100%;
    display: block;
    width:300px;
  
    border:1px solid gray;
}

.right-side{
    padding: 10px;
    height: 100%;
    display: block;
    width:500px;
    border:1px solid gray;
}